.guild {
  background-color: gray;
  padding: 20px;
  border: black solid 2px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.guild > img {
  width: 128px;
  height: 128px;
}