.infobox {
  background-color: rgb(23, 23, 23);
  padding: 10px 40px;
  border-radius: 20px;
  border: solid white 2px;
  color: white;
}

.infobox h1 {
  font-size: 2.5em;
  text-align: center;
}

.inner-infobox {
  background-color: rgb(31, 31, 31);
  padding: 10px;
  border-radius: 10px;
  border: solid white 2px;
  color: white;
}