.guild {
  display: flex;
  padding: 5px;
  margin: 5px;
  align-items: center;
  width: fit-content;
}

.guild > a {
  display: flex;
  align-items: center;
  width: fit-content;
}

.guild img {
  width: 55px;
  transition: 0.5s transform cubic-bezier(0.16, 1, 0.3, 1);
  border-radius: 50%;
  border: white;
  z-index: 2;
}

.guild a {
  text-decoration: none;
}

.guild p {
  transition: 0.3s all cubic-bezier(0.16, 1, 0.3, 1);
  text-decoration: none;
  color: white;
  opacity: 0;
  background-color: rgb(53, 53, 53);
  padding: 5px 7px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  transform: scale(0.01);
  z-index: 0;
}

.guild:has(img:hover) p {
  opacity: 1.0;
  display: block;
  left: 80px;
  transform: scale(1);
}

.guild:has(img:hover) img {
  transform: scale(1.1);
}